body {
    background-color: #FF7657;
}

.container-sesion{
    height: 85vh;
}

.container-sesion-bg{
    background-color: rgba(248, 249, 250, 0.5);
}

.facebook{
    height: 2.5rem;
}

.logo{
    border-radius: 50%;
    height: 8rem;
}

.container-logo{
    margin-top: 6rem;
}

